@import "tailwindcss";

@theme inline {
  --font-figtree: "Figtree", sans-serif;
  --font-doto: "Doto", sans-serif;
  --font-micro_5: "Micro 5", sans-serif;
  --font-irish-grover: "Irish Grover", sans-serif;
  --font-calistoga: "Calistoga", sans-serif;
  --font-denk-one: "Denk One", sans-serif;
  --font-henny-penny: "Henny Penny", sans-serif;
  --font-exo-2: "Exo 2", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
